.button{
	-fx-text-fill: black;
	-fx-background-color: #d0d0d0;
	-fx-font-size: 16px;
	/*-fx-box-shadow: 10px 10px 5px #888888;*/
	-fx-min-width: 30px;
	-fx-min-height: 30px;
	-fx-background-radius: 1000px;
}
/*1b449c*/

.background{
	-fx-background-color: white;
}

.patientBackground{
	-fx-background-color: #F0F4F5;
}

.search{
	/*-fx-border-radius: 20px;*/
	/*-fx-background-radius: 20px;*/
	-fx-border-color: #1b449c;
	-fx-font-size: 20px;
	-fx-font-family: system;
	/*-fx-box-shadow: 10px 10px 5px #444;*/
}

.tab-pane{
	-fx-tab-min-width:75px;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;

}

.tab-header-area .tab-header-background{
	-fx-background-color: none;
}

.tab{
	/*-fx-tab-min-width: 90px;*/	
	-fx-text-fill: -fx-text-base-color;
	-fx-background-color: #229e9e;
	-fx-font-size: 16px;
	-fx-padding: 5px 10px;
	-fx-shape: "M300,290 L310,168 L410,168 L400,290 L300,290 z";
}

 .tab:selected
 {
	-fx-padding: 5px 10px;
	-fx-background-color: #f4c3c2;
	-fx-border: none;
}

.directoryAdminButton{
	-fx-font-family:system;
	-fx-font-size: 30px, 30px;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-background-color:#cccccc;
	-fx-scale-x: 1;
	-fx-scale-y: 1;
}
.mapAdminButton{
	-fx-font-family:system;
	-fx-font-size: 30px, 30px;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-background-color:#cccccc;
	-fx-scale-x: 1;
	-fx-scale-y: 1;
}

.adminMenuButton{
	-fx-background-image: url(admin-icon-skull-totenkopf.png);
	-fx-background-color: none;
	-fx-background-size: 50px 50px;
	-fx-opacity: 60%;
}

.helpButton{
	-fx-background-image: url(help-icon-12.png);
	-fx-background-size: 50px 50px;
	-fx-opacity: 60%;
}

.helpBox{
	-fx-background-color: #bababa;
	-fx-opacity: 85%;
	-fx-background-radius: 20px;
}

.exitButton{
	-fx-text-fill: black;
	/*-fx-Font: "Britannic Bold";*/
	-fx-background-color: #F0F4F5;
	-fx-font-size: 30px;
	-fx-font-weight: bold;
}

.resultMenu{
	-fx-background-color: #B7C1C4;
	-fx-opacity: 75%;
	-fx-background-radius: 3px;
}

.textDirection{
	-fx-padding: 3px;
	-fx-background-radius: 5px;
	-fx-background-color: #BBC4C7;
	-fx-opacity: 75%;
	-fx-text-fill: grey;
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

.centerImage{
	-fx-background-position: center; 
}